body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  }
p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333
}


/*ШАПКА*/

 .navigation a {
  display: block;
  color: #000000;
  text-decoration: none;
   padding-top: 18px;
   padding-bottom: 18px;
 }
 .navigation ul {
 margin: 0;
 padding: 0;
 list-style: none;
 }
 .navigation li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  font-size: 14px;
  line-height: 26px;
  text-align: center; /*почему неровные отступы у навигации слева и справа, должно быть 73px*/  position:relative;
}

.navigation a:hover {
display: block;
color: #81b3d2;
}
.logo  {
    position:absolute;
    left: 20%;
    z-index: 1;
    top: -18px;
}
/*ШАПКА*/

/*КОНТЕЙНЕР*/
.container {
  min-width: 768px;
  max-width: 1200px;
  min-height: auto;
  margin: 0px;
  padding: 0px;
  clear: both;
  text-align: center;
  text-transform: uppercase;
  }
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}/*КОНТЕЙНЕР*/

/*ИНДЕКС*/
.index-bg {
 position:relative;
}
.index-bg .bg-photo {
  background: url(img/bg-img2.jpg) no-repeat;
  min-width: 100%;
  min-height: 508px;
}
.index-bg .bg-text {
   background-image: url(img/bg-text.png);
   background-repeat: no-repeat;
   width: 458px;
   height:352px;
   position: absolute;
   left: 50%; top: 50%;
   margin-left: -240px;
   margin-top: -176px;
}
.index-info {
  text-align: center;
  margin: 45px 350px;
}
b.slogan {
  display: block;
  padding-bottom: 25px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.index-photo {
   display: inline-block;
   vertical-align: top;
   background-color:#81b3d2;
   width: 67%;
   height:255px; <!-->откуда взялся отступ у второй картинки?<--!>
}
.index-block {
    display: inline-block;
    vertical-align: top;
    background-color:#81b3d2;
    width:33%;
    height:255px;
    margin: 0 -5px;
}
.index-block .title {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  margin: 50px 100px 28px;
}
.index-block span {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}
.index-block p {
  color: #ffffff;
  margin: 28px 60px;
}
.features{
font-size: 0;
}
.feature-1,
.feature-2,
.feature-3 {
 display: inline-block;
 vertical-align: top;
 width: 33%;
 margin-top: 57px;
 margin-bottom: 70px;
 }
.features h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding: 27px 0;
    margin:0px;
}
.features p {
    padding: 0px 50px;
    margin: 0;
}
.city-sighteen {
    font-size: 0;
}
.sightseen-1,
.sightseen-2,
.sightseen-3{
  display: inline-block;
  width: 33%;
  height: 260px;
  vertical-align: top;
  background-color:#eeeeee; <!-->как заполнить отпкрывшийся промежуток?<--!>
 }
.city-sighteen h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
 margin: 50px 120px 30px;2
}
.city-sighteen span {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333
}
.city-sighteen  p {
  margin: 28px 60px;
}

/*ИНДЕКС*/
/*ФОРМА ПОИСКА*/
.form {
  width: 100%;
  height: 290px;
  padding-top:5%;
  clear:both;
}
.search-form {
  display: block;
  border: 1px solid black;
}
span.form-title {
  font-size: 30px;
  line-height: 24px;
    color: #000000;
}
.form h3 {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}
.form p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333;
    margin: 28px 400px; <!-->как разбить на две строки?<--!>
 }
/*ФОРМА ПОИСКА*/
