html,
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  }
h2.title {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.features h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.city-sighteen h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

span.form-title {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
}

.form h3 {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}
p {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333
}

/*ШАПКА*/
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
}
nav a {
  display: block;
  color: #000000;
  text-decoration: none;
}
nav a:hover {
display: block;
color: #81b3d2;
}
/*ШАПКА*/

/*КОНТЕЙНЕР*/
.container {
  min-width: 768px;
  max-width: 1200px;
  min-height: auto;
  margin: 0;
  padding: 0;
  clear: both;
  text-align: center;
  text-transform: uppercase;
  }
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}/*КОНТЕЙНЕР*/

/*ИНДЕКС*/
.index-bg {
 position:relative;
}
.index-bg .bg-photo {
  background: url(img/bg-img2.jpg) no-repeat;
  width: 100%;
  height: 508px;
}
.index-bg .bg-text {
   background-image: url(img/bg-text.png);
   background-repeat: no-repeat;
   width: 458px;
   height:352px;
   position: absolute;
   left: 50%; top: 50%;
   margin-left: -230px;
   margin-top: -176px;
}
.index-info {
  text-align: center;
  padding: 45px 0;
}
b.slogan {
  display: block;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 35px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}


index-photo-left {
    display: inline-block;
    vertical-align: middle;
    background-color:#81b372;
     width:67%;
}
index-block-left {
    display: inline-block;
    vertical-align: middle;
    background-color:#81b372;
     width:33%;
}

.feature-1,
.feature-2,
.feature-3 {
 display: inline-block;
 vertical-align: middle;
  width: 33%;
  height:330px;
 padding-top: 50px;
}
.sightseen-1,
.sightseen-2,
.sightseen-3{
  display: inline-block;
  width:33%;
  height:260px;
  vertical-align: middle;
  padding-top: 50px ;
  background-color:#eeeeee;
  margin-left: -5px;
 }


.form {
  width: 100%;
  height: 290px;
  padding-top:5%;
  clear:both;
}
.search-form {
  display: block;
  border: 1px solid black;
}
/*ИНДЕКС*/

/*ИННЕР*/
.filter-bg {
  background-image: url(http://127.0.0.1:57223/img/filter-bg.jpg);
  background-repeat: no-repeat;
    width: 100%;
    min-height: auto;
}

.accomodation-inner {
  float: left;
  margin-left: 6%;
   font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
label {
  display: list-item;
  list-style: none;
  padding-bottom: 33px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.price-box {
  border: 1px solid white;
  float: right;
  padding: 10px 60px;
  margin-top: 33px;
}
.filter-btn {
  float: right;
  margin-top: 150px;
  margin-right: -200px;
}

 .sorter {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #000000
}
.sorter li {
  display: inline-block;
    vertical-align: middle;
}

/*Страница отелей*/
article {
  border-top: 1px solid #e5e5e5;
  padding: 3% 0;
  clear: both;
}
.hotel-block-photo {
   float: left;
   margin-right: 3%;
}
.hotel-block-info {
  float: left;
}
h3.hotel-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: -5px;
}
.hotel-block-rate{
  border: 1px solid red;
  float:right;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #666666
}
.photo-1 {
  background-image: url(http://127.0.0.1:57223/img/hotel1.jpg);
  background-repeat: no-repeat;
  width: 135px;
  height: 90px;
}
.photo-2 {
  background-image: url(http://127.0.0.1:57223/img/hotel2.jpg);
  background-repeat: no-repeat;
  width: 135px;
  height: 90px;
}
.photo-3 {
  background-image: url(http://127.0.0.1:57223/img/hotel3.jpg);
  background-repeat: no-repeat;
  width: 135px;
  height: 90px;
}
.hotel-btn-more {
  background-color: #81b3d2;
  color: #ffffff;
  width: 110px;
  height: 28px;
  padding: 8px 12px;
}
.hotel-btn-book {
  background-color: #766357;
  color: #ffffff;
  width: 110px;
  height: 28px;
  padding: 8px 12px;
}


/*футер*/
.main-footer {
  border-top: 1px solid #e5e5e5;
  height: 120px;
  padding: 51px 70px;
}

.footer-hashtag a {
  display: block;
  float: left;
  color: #000000;
  padding-right: 250px;
}

.footer-social {
  float: left;
}

.footer-copyright {
  float: right;
  padding: 30px;
}
